<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div class="field">
    <%= form.label :number_of_reviews %>
    <%= form.number_field :number_of_reviews, id: :product_number_of_reviews %>
  </div>

  <div class="field">
    <%= form.label :best_seller_rank %>
    <%= form.number_field :best_seller_rank, id: :product_best_seller_rank %>
  </div>

  <div class="field">
    <%= form.label :inventory %>
    <%= form.number_field :inventory, id: :product_inventory %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
