<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Price</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= group_product.id %></td>
        <td>
          <%- if group_product && group_product.price %>
            <%= BigDecimal(group_product.price) / 100 %>
            <%= group_product.currency_code %>
          <%- end %>
        </td>
        <td><%= group_product.title %></td>
        <td><%= link_to 'Show', group_product %></td>
      </tr>

  </tbody>
</table>
