<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @product.group.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= BigDecimal(@product.price) / 100 %>
  <%= @product.currency_code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Number of reviews:</strong>
  <%= @product.number_of_reviews %>
</p>

<p>
  <strong>Best seller rank:</strong>
  <%= @product.best_seller_rank %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @product.inventory %>
</p>

<%= link_to 'Back', products_path %>
